`<div class="card m-3" style="width: 18rem;">
     <div class="card-header bg-primary text-white">
       <h1>{{ name }}</h1>
      <h2><i class="fas fa-mug-hot"></i> &nbsp; {{ role }}</h2>
    // </div>
    // <div class="container bg-light col">
    //       <ul class="list-group p-3">
    //           <li class="list-group-item">ID : ${manager.id}</li>
    //           <li class="list-group-item">Email : <a href="#"class="card-link">${manager.email}</a> </li>
    //           <li class="list-group-item">Office number: ${manager.office}</li>
    //       </ul>
    //       </div>`